<!DOCTYPE html>

<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AODB</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <script src="script.js" defer></script>
</head>

<body onload="startTime()">
    <div class="title">
        <h2>Welcome to the Airport Operational Database!</h2>
        <p>This Website is designed to help organize and display flights as well as their assigned crews</p>
    </div>
    <div class="topnav">
        <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/departures">Departures</a></li>
            <li><a href="/arrivals">Arrivals</a></li>
            <li><A href="/operations">Operations</a></li>
            <li><a href="/aircrafts">Aircraft</a></li>
            <li><a href="/flights">Flights</a></li>
            
            
            <li class="search"><input type="text" placeholder="Search Airports, Airlines, Aircrafts, Flights"></li>
        </ul>
    </div>