<!DOCTYPE html>

<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AODB</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <script src="script.js" defer></script>
</head>

<body onload="startTime()">
    <div class="title">
        <h2>Welcome to the Airport Operational Database!</h2>
        <p>This Website is designed to help organize and display flights as well as their assigned crews</p>
    </div>
    <div class="topnav">
        <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/departures">Departures</a></li>
            <li><a href="/arrivals">Arrivals</a></li>
            <li><A href="/operations">Operations</a></li>
            <li><a href="/employees">Employees</a></li>
        </ul>
    </div>

<title>AODB | Aircrafts</title>
<div class = "location">
    <h4></h4>
    <h2></h2>
    <h4></h4>
</div>

<form action="/search" method="get">
    <label for="field1">Field 1:</label><br>
    <input type="text" id="field1" name="field1"><br>
    <label for="field2">Field 2:</label><br>
    <input type="text" id="field2" name="field2"><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>

